test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="student" type="studentType"/> 

<xsd:complexType name="studentType"> 
  <xsd:all> 
    <xsd:element name="grade"> 
      <xsd:simpleType> 
        <xsd:restriction base="xsd:integer"> 
          <xsd:minInclusive value="0"/>
          <xsd:maxInclusive value="20"/>
         </xsd:restriction> 
      </xsd:simpleType> 
    </xsd:element>
  </xsd:all> 
  <xsd:attribute name="id" type="xsd:string"/> 
</xsd:complexType>


</xsd:schema>